In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import plotly.express as px

In [16]:
df=pd.read_csv("Heart Disease Prediction.csv")

In [17]:
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [18]:
df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [19]:
df=df[['Age','Sex','Cholesterol','Blood Pressure','Heart Rate','Diabetes','Family History','Smoking','Previous Heart Problems','Stress Level','Heart Attack Risk']].copy()

In [20]:
df

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Previous Heart Problems,Stress Level,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [21]:
df=df[['Age','Sex','Cholesterol','Blood Pressure','Heart Rate','Diabetes','Family History','Smoking','Previous Heart Problems','Stress Level','Heart Attack Risk']].copy()

In [22]:
df

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Previous Heart Problems,Stress Level,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [23]:
df=df.rename(columns={'Sex':'Gender','Blood Pressure':'Blood_Pressure','Heart Rate':'Heart_Rate','Family History':'Family_History','Previous Heart Problems':'Previous_Heart_Problems','Stress Level':'Stress_Level','Heart Attack Risk':'Heart_Attack_Risk'})

In [24]:
df

,Age,Gender,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [25]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded = encoder.fit_transform(df[['Gender']]).toarray()
encoded

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]], shape=(8763, 2))

In [26]:
cols = encoder.get_feature_names_out(['Gender'])
cols

array(['Gender_Female', 'Gender_Male'], dtype=object)

In [27]:
encoded_df = pd.DataFrame(encoded, columns=cols)

In [28]:
df = pd.concat([df, encoded_df], axis=1)

In [29]:
df

,Age,Gender,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,Male,208,158/88,72,0,0,1,0,9,0,0.0,1.0
1,21,Male,389,165/93,98,1,1,1,1,1,0,0.0,1.0
2,21,Female,324,174/99,72,1,0,0,1,9,0,1.0,0.0
3,84,Male,383,163/100,73,1,1,1,1,9,0,0.0,1.0
4,66,Male,318,91/88,93,1,1,1,1,6,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0,0.0,1.0
8759,28,Female,120,157/102,73,1,0,0,0,8,0,1.0,0.0
8760,47,Male,250,161/75,105,0,1,1,1,5,1,0.0,1.0
8761,36,Male,178,119/67,60,1,0,1,1,5,0,0.0,1.0
8762,25,Female,356,138/67,75,1,1,0,0,8,1,1.0,0.0

In [30]:
df=df[['Age','Cholesterol','Blood_Pressure','Heart_Rate', 'Diabetes','Family_History','Smoking', 'Previous_Heart_Problems','Stress_Level', 'Heart_Attack_Risk','Gender_Female','Gender_Male']].copy()

In [31]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,208,158/88,72,0,0,1,0,9,0,0.0,1.0
1,21,389,165/93,98,1,1,1,1,1,0,0.0,1.0
2,21,324,174/99,72,1,0,0,1,9,0,1.0,0.0
3,84,383,163/100,73,1,1,1,1,9,0,0.0,1.0
4,66,318,91/88,93,1,1,1,1,6,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0.0,1.0
8759,28,120,157/102,73,1,0,0,0,8,0,1.0,0.0
8760,47,250,161/75,105,0,1,1,1,5,1,0.0,1.0
8761,36,178,119/67,60,1,0,1,1,5,0,0.0,1.0
8762,25,356,138/67,75,1,1,0,0,8,1,1.0,0.0

In [32]:
df['Gender_Female']=df.Gender_Female.astype('int')

In [33]:
df['Gender_Male']=df.Gender_Male.astype('int')

In [34]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,208,158/88,72,0,0,1,0,9,0,0,1
1,21,389,165/93,98,1,1,1,1,1,0,0,1
2,21,324,174/99,72,1,0,0,1,9,0,1,0
3,84,383,163/100,73,1,1,1,1,9,0,0,1
4,66,318,91/88,93,1,1,1,1,6,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0,1
8759,28,120,157/102,73,1,0,0,0,8,0,1,0
8760,47,250,161/75,105,0,1,1,1,5,1,0,1
8761,36,178,119/67,60,1,0,1,1,5,0,0,1
8762,25,356,138/67,75,1,1,0,0,8,1,1,0

In [35]:
df[['High_Blood_Pressure', 'Low_Blood_Pressure']] = df['Blood_Pressure'].str.split('/', expand=True)

In [36]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
0,67,208,158/88,72,0,0,1,0,9,0,0,1,158,88
1,21,389,165/93,98,1,1,1,1,1,0,0,1,165,93
2,21,324,174/99,72,1,0,0,1,9,0,1,0,174,99
3,84,383,163/100,73,1,1,1,1,9,0,0,1,163,100
4,66,318,91/88,93,1,1,1,1,6,0,0,1,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0,1,94,76
8759,28,120,157/102,73,1,0,0,0,8,0,1,0,157,102
8760,47,250,161/75,105,0,1,1,1,5,1,0,1,161,75
8761,36,178,119/67,60,1,0,1,1,5,0,0,1,119,67
8762,25,356,138/67,75,1,1,0,0,8,1,1,0,138,67

In [37]:
df.drop('Blood_Pressure', axis=1, inplace=True)

In [38]:
df

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
0,67,208,72,0,0,1,0,9,0,0,1,158,88
1,21,389,98,1,1,1,1,1,0,0,1,165,93
2,21,324,72,1,0,0,1,9,0,1,0,174,99
3,84,383,73,1,1,1,1,9,0,0,1,163,100
4,66,318,93,1,1,1,1,6,0,0,1,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,61,1,1,1,1,8,0,0,1,94,76
8759,28,120,73,1,0,0,0,8,0,1,0,157,102
8760,47,250,105,0,1,1,1,5,1,0,1,161,75
8761,36,178,60,1,0,1,1,5,0,0,1,119,67
8762,25,356,75,1,1,0,0,8,1,1,0,138,67

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
reg=linear_model.LogisticRegression()

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test=train_test_split(df[['Age','Cholesterol','Heart_Rate', 'Diabetes','Family_History','Smoking', 'Previous_Heart_Problems','Stress_Level', 'Gender_Female','Gender_Male','High_Blood_Pressure','Low_Blood_Pressure']],df['Heart_Attack_Risk'],test_size=0.2)

In [43]:
x_train

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
7751,59,200,82,1,0,1,0,5,0,1,174,98
7524,84,383,103,0,1,1,0,4,1,0,118,72
8447,80,357,41,1,1,1,0,2,1,0,147,98
3637,62,192,53,1,1,1,1,6,0,1,158,92
6814,53,154,69,1,0,1,0,3,0,1,136,67
...,...,...,...,...,...,...,...,...,...,...,...,...
4759,65,292,75,1,0,1,1,6,0,1,152,98
304,26,382,67,1,1,1,1,9,0,1,171,99
5523,22,227,52,0,1,1,1,7,0,1,141,70
8691,83,363,94,1,0,1,0,7,1,0,101,71
5636,76,261,71,1,1,1,0,9,0,1,122,103

In [44]:
x_test

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
6320,59,163,89,1,1,1,1,8,1,0,110,101
2320,45,204,64,1,1,1,1,5,0,1,167,97
3917,21,166,104,1,1,0,0,5,1,0,156,71
3522,63,158,55,1,1,1,0,9,0,1,126,66
3138,51,259,110,1,0,1,1,6,1,0,118,108
...,...,...,...,...,...,...,...,...,...,...,...,...
3414,66,151,77,1,1,1,1,6,1,0,91,79
8271,42,312,77,0,0,1,0,9,0,1,92,60
8301,42,149,75,0,1,1,1,8,1,0,110,87
4963,38,251,108,1,1,1,0,6,0,1,111,64
1727,78,263,42,1,1,1,0,2,0,1,152,100

In [45]:
reg.fit(x_train,y_train)

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
reg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0], shape=(1753,))

In [ ]:
x_test.shape

:

In [47]:
reg.score(x_test,y_test)

0.6463205932686823

In [48]:
import pickle

In [49]:
pickle.dump(reg,open("factors_affecting_heartattack.pkl","wb"))

In [50]:
pickle.dump(encoder,open("OneHot_Encoder.pkl","wb"))

In [53]:
print(x_train)

      Age  Cholesterol  Heart_Rate  Diabetes  Family_History  Smoking  \
7751   59          200          82         1               0        1
7524   84          383         103         0               1        1
8447   80          357          41         1               1        1
3637   62          192          53         1               1        1
6814   53          154          69         1               0        1
...   ...          ...         ...       ...             ...      ...
4759   65          292          75         1               0        1
304    26          382          67         1               1        1
5523   22          227          52         0               1        1
8691   83          363          94         1               0        1
5636   76          261          71         1               1        1

      Previous_Heart_Problems  Stress_Level  Gender_Female  Gender_Male  \
7751                        0             5              0            1
7524                        0             4              1            0
8447                        0             2              1            0
3637                        1             6              0            1
6814                        0             3              0            1
...                       ...           ...            ...          ...
4759                        1             6              0            1
304                         1             9              0            1
5523                        1             7              0            1
8691                        0             7              1            0
5636                        0             9              0            1

     High_Blood_Pressure Low_Blood_Pressure
7751                 174                 98
7524                 118                 72
8447                 147                 98
3637                 158                 92
6814                 136                 67
...                  ...                ...
4759                 152                 98
304                  171                 99
5523                 141                 70
8691                 101                 71
5636                 122                103

[7010 rows x 12 columns]