In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import plotly.express as px

In [2]:
df=pd.read_csv("Heart Disease Prediction.csv")

In [3]:
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [4]:
df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [5]:
df=df[['Age','Sex','Cholesterol','Blood Pressure','Heart Rate','Diabetes','Family History','Smoking','Previous Heart Problems','Stress Level','Heart Attack Risk']].copy()

In [6]:
df

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Previous Heart Problems,Stress Level,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [7]:
df=df[['Age','Sex','Cholesterol','Blood Pressure','Heart Rate','Diabetes','Family History','Smoking','Previous Heart Problems','Stress Level','Heart Attack Risk']].copy()

In [8]:
df

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Previous Heart Problems,Stress Level,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [9]:
df=df.rename(columns={'Sex':'Gender','Blood Pressure':'Blood_Pressure','Heart Rate':'Heart_Rate','Family History':'Family_History','Previous Heart Problems':'Previous_Heart_Problems','Stress Level':'Stress_Level','Heart Attack Risk':'Heart_Attack_Risk'})

In [10]:
df

,Age,Gender,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk
0,67,Male,208,158/88,72,0,0,1,0,9,0
1,21,Male,389,165/93,98,1,1,1,1,1,0
2,21,Female,324,174/99,72,1,0,0,1,9,0
3,84,Male,383,163/100,73,1,1,1,1,9,0
4,66,Male,318,91/88,93,1,1,1,1,6,0
...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0
8759,28,Female,120,157/102,73,1,0,0,0,8,0
8760,47,Male,250,161/75,105,0,1,1,1,5,1
8761,36,Male,178,119/67,60,1,0,1,1,5,0
8762,25,Female,356,138/67,75,1,1,0,0,8,1

In [11]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()
encoded = encoder.fit_transform(df[['Gender']]).toarray()
encoded

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]], shape=(8763, 2))

In [12]:
cols = encoder.get_feature_names_out(['Gender'])
cols

array(['Gender_Female', 'Gender_Male'], dtype=object)

In [13]:
encoded_df = pd.DataFrame(encoded, columns=cols)

In [14]:
df = pd.concat([df, encoded_df], axis=1)

In [15]:
df

,Age,Gender,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,Male,208,158/88,72,0,0,1,0,9,0,0.0,1.0
1,21,Male,389,165/93,98,1,1,1,1,1,0,0.0,1.0
2,21,Female,324,174/99,72,1,0,0,1,9,0,1.0,0.0
3,84,Male,383,163/100,73,1,1,1,1,9,0,0.0,1.0
4,66,Male,318,91/88,93,1,1,1,1,6,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,1,8,0,0.0,1.0
8759,28,Female,120,157/102,73,1,0,0,0,8,0,1.0,0.0
8760,47,Male,250,161/75,105,0,1,1,1,5,1,0.0,1.0
8761,36,Male,178,119/67,60,1,0,1,1,5,0,0.0,1.0
8762,25,Female,356,138/67,75,1,1,0,0,8,1,1.0,0.0

In [18]:
df=df[['Age','Cholesterol','Blood_Pressure','Heart_Rate', 'Diabetes','Family_History','Smoking', 'Previous_Heart_Problems','Stress_Level', 'Heart_Attack_Risk','Gender_Female','Gender_Male']].copy()

In [19]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,208,158/88,72,0,0,1,0,9,0,0.0,1.0
1,21,389,165/93,98,1,1,1,1,1,0,0.0,1.0
2,21,324,174/99,72,1,0,0,1,9,0,1.0,0.0
3,84,383,163/100,73,1,1,1,1,9,0,0.0,1.0
4,66,318,91/88,93,1,1,1,1,6,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0.0,1.0
8759,28,120,157/102,73,1,0,0,0,8,0,1.0,0.0
8760,47,250,161/75,105,0,1,1,1,5,1,0.0,1.0
8761,36,178,119/67,60,1,0,1,1,5,0,0.0,1.0
8762,25,356,138/67,75,1,1,0,0,8,1,1.0,0.0

In [20]:
df['Gender_Female']=df.Gender_Female.astype('int')

In [21]:
df['Gender_Male']=df.Gender_Male.astype('int')

In [22]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male
0,67,208,158/88,72,0,0,1,0,9,0,0,1
1,21,389,165/93,98,1,1,1,1,1,0,0,1
2,21,324,174/99,72,1,0,0,1,9,0,1,0
3,84,383,163/100,73,1,1,1,1,9,0,0,1
4,66,318,91/88,93,1,1,1,1,6,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0,1
8759,28,120,157/102,73,1,0,0,0,8,0,1,0
8760,47,250,161/75,105,0,1,1,1,5,1,0,1
8761,36,178,119/67,60,1,0,1,1,5,0,0,1
8762,25,356,138/67,75,1,1,0,0,8,1,1,0

In [23]:
df[['High_Blood_Pressure', 'Low_Blood_Pressure']] = df['Blood_Pressure'].str.split('/', expand=True)

In [24]:
df

,Age,Cholesterol,Blood_Pressure,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
0,67,208,158/88,72,0,0,1,0,9,0,0,1,158,88
1,21,389,165/93,98,1,1,1,1,1,0,0,1,165,93
2,21,324,174/99,72,1,0,0,1,9,0,1,0,174,99
3,84,383,163/100,73,1,1,1,1,9,0,0,1,163,100
4,66,318,91/88,93,1,1,1,1,6,0,0,1,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,94/76,61,1,1,1,1,8,0,0,1,94,76
8759,28,120,157/102,73,1,0,0,0,8,0,1,0,157,102
8760,47,250,161/75,105,0,1,1,1,5,1,0,1,161,75
8761,36,178,119/67,60,1,0,1,1,5,0,0,1,119,67
8762,25,356,138/67,75,1,1,0,0,8,1,1,0,138,67

In [25]:
df.drop('Blood_Pressure', axis=1, inplace=True)

In [26]:
df

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Heart_Attack_Risk,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
0,67,208,72,0,0,1,0,9,0,0,1,158,88
1,21,389,98,1,1,1,1,1,0,0,1,165,93
2,21,324,72,1,0,0,1,9,0,1,0,174,99
3,84,383,73,1,1,1,1,9,0,0,1,163,100
4,66,318,93,1,1,1,1,6,0,0,1,91,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,121,61,1,1,1,1,8,0,0,1,94,76
8759,28,120,73,1,0,0,0,8,0,1,0,157,102
8760,47,250,105,0,1,1,1,5,1,0,1,161,75
8761,36,178,60,1,0,1,1,5,0,0,1,119,67
8762,25,356,75,1,1,0,0,8,1,1,0,138,67

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
reg=linear_model.LogisticRegression()

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test=train_test_split(df[['Age','Cholesterol','Heart_Rate', 'Diabetes','Family_History','Smoking', 'Previous_Heart_Problems','Stress_Level', 'Gender_Female','Gender_Male','High_Blood_Pressure','Low_Blood_Pressure']],df['Heart_Attack_Risk'],test_size=0.2)

In [31]:
x_train

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
5178,34,172,71,0,1,1,0,1,0,1,97,102
1558,19,250,58,0,1,1,1,10,0,1,156,82
1033,27,286,88,1,0,1,0,3,0,1,175,77
1911,60,336,109,1,1,1,0,2,0,1,104,88
3802,78,308,88,0,1,1,0,8,1,0,105,96
...,...,...,...,...,...,...,...,...,...,...,...,...
258,26,225,58,1,1,1,1,2,0,1,106,64
1372,52,223,79,0,0,1,1,9,1,0,173,106
1189,65,379,96,1,1,1,0,5,1,0,157,62
4171,50,281,43,1,1,1,1,8,1,0,111,75
7879,77,162,62,0,1,1,0,6,0,1,138,87

In [32]:
x_test

,Age,Cholesterol,Heart_Rate,Diabetes,Family_History,Smoking,Previous_Heart_Problems,Stress_Level,Gender_Female,Gender_Male,High_Blood_Pressure,Low_Blood_Pressure
3522,63,158,55,1,1,1,0,9,0,1,126,66
4849,71,330,85,1,0,1,0,3,1,0,127,85
3521,50,285,105,0,0,1,0,8,0,1,126,71
1353,32,164,75,1,1,1,1,6,0,1,169,96
1287,39,345,106,1,1,1,0,5,0,1,162,81
...,...,...,...,...,...,...,...,...,...,...,...,...
5748,35,290,41,1,0,1,1,9,0,1,140,107
4881,36,167,42,0,1,0,1,3,1,0,166,91
6619,75,121,85,1,0,1,0,4,0,1,157,89
6283,18,161,80,1,0,0,0,9,1,0,97,103
3468,46,344,84,1,1,1,1,4,0,1,123,83

In [33]:
reg.fit(x_train,y_train)

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [34]:
reg.predict(x_test)

array([0, 0, 0, ..., 0, 0, 0], shape=(1753,))

In [35]:
reg.score(x_test,y_test)

0.6320593268682259

In [36]:
import pickle

In [37]:
pickle.dump(reg,open("factors_affecting_heartattack.pkl","wb"))

In [38]:
pickle.dump(encoder,open("OneHot_Encoder.pkl","wb"))